<% if(errors) { %>
    <% errors.forEach(item => { %>
        <script>openLoginModal()</script>
        <div class="alert alert-danger"> <%- item %> </div>
    <% }); %>
<% } %>

<% if(success != '') { %>
    <script>openLoginModal()</script>
    <div class="alert alert-success"> <%- success %> </div>
<% } %>
